
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database
# instance/
# *.db
# *.sqlite3

# OS specific
.DS_Store

# IDEs
.idea/
.vscode/

# Virtual Environment
venv/
env/
