
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.DS_Store

# Database
*.db
*.sqlite3

# Node.js
node_modules/
npm-debug.log

# IDEs
.idea/
.vscode/

# Virtual Environment
venv/
env/
